.navigation {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  font-size: var(--font-size-sm);
  height: var(--layout-nav-height);
}

.navigation a {
  color: var(--text-darkgray);
  transition: color var(--transition-slow);
}

.navigation a.active {
  color: var(--text-black);
}

.distinction {
  width: var(--space-1);
  height: var(--space-1);
  flex-shrink: 0;
  border-radius: var(--radius-full);
  background-color: var(--text-whitegray);
}
