.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--space-2);
  padding-block: var(--space-1);
  border-radius: var(--radius-sm);
  gap: var(--space-1);
  font: var(--font-size-xs) var(--font-geist-mono);
  color: var(--text-whitegray);
}

.icon.popular {
  background-color: var(--bg-black);
  color: var(--text-white);
  font-weight: var(--font-weight-bold);
}
