.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-semibold);
  color: var(--text-black);
}

.more {
  font-size: var(--font-size-sm);
  color: var(--text-whitegray);
}
