.guestbook {
  margin-top: var(--space-16);
}

@media (max-width: 768px) {
  .guestbook {
    margin-top: var(--space-8);
  }
}

.title {
  margin-bottom: var(--space-8);
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-semibold);
}
