.thread {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  min-height: 470px;
  padding: var(--space-6);
  border: 0.8px solid var(--contour);
  border-radius: var(--radius-md);
}

.emptyItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
